numpy>=1.24,<2.0
pandas>=2.1,<3.0
scikit-learn==1.2.2
joblib>=1.2,<2.0
scipy>=1.10,<2.0
lifetimes>=0.11.3,<0.12.0
datetime>=2.0,<3.0
dill>=0.3.4,<0.4.0

# LLM and Agent dependencies
langchain>=1.2.15
openai>=1.0.0,<2.0
langchain-openai 
langchain-anthropic
langchain-community
langchain-ollama

# Optional / helpful for notebooks and plotting
#matplotlib>=3.7,<4.0

#db
sqlalchemy 
psycopg2-binary 
python-dotenv

# app
#fastapi
#uvicorn
#streamlit
# pip install -r requirements.txt
